# log file
*.log

# report directory
report/
opt/jmeter/report/

# AWS CLI 설치 파일
awscliv2.zip
aws/

# pkrvars.hcl 환경변수 파일
scenario1/aws-ubuntu.pkrvars.hcl
scenario2/aws-ubuntu.pkrvars.hcl